.vscode/
__pycache__/
data/
.idea/
documentation/figures/~$diagrams.pptx
/Power_SIM_2024/Plots
Power_SIM_2024/scratchpad.py
Power_SIM_2024/tumbling_code/Plots/power_hist_2.png
Power_SIM_2024/tumbling_code/Plots/power_hist_1.png
Power_SIM_2024/tumbling_code/Plots/power_hist_0.png
Power_SIM_2024/tudat_implementation/test.py
